<mat-card>
    <mat-card-title>Add New Employee</mat-card-title>
    <mat-card-content>
      <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" floatLabel="auto" class="full-width">
            <!-- <mat-label>Name</mat-label> -->
            <input matInput type="number" formControlName="emp_id" placeholder="emp_id">
          </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="auto" class="full-width">
          <!-- <mat-label>Name</mat-label> -->
          <input matInput type="text" formControlName="name" placeholder="Name">
        </mat-form-field>
  
        <mat-form-field appearance="fill" floatLabel="auto" class="full-width">
          <!-- <mat-label>Designation</mat-label> -->
          <input matInput type="text" formControlName="designation" placeholder="Designation">
        </mat-form-field>
  
        <mat-form-field appearance="fill" floatLabel="auto" class="full-width">
          <!-- <mat-label>Location</mat-label> -->
          <input matInput type="text" formControlName="location" placeholder="Location">
        </mat-form-field>
  
        <mat-form-field appearance="fill" floatLabel="auto" class="full-width">
          <!-- <mat-label>Status</mat-label> -->
          <mat-select formControlName="status">
            <mat-option value="active">Active</mat-option>
            <mat-option value="inactive">Inactive</mat-option>
            <mat-option value="temporarily_suspended">Temporarily Suspended</mat-option>
            <mat-option value="terminated">Terminated</mat-option>
          </mat-select>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Add</button>
      </form>
    </mat-card-content>
  </mat-card>
  